{
  "parser": "babel-eslint",
  "env": {
    "node": 1,
    "browser": 1
  },

  "rules": {
    "no-console": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }] # jax syntac in js
  },

  "extends": ["airbnb"]
}
